version: '3.8'

services:
  redpanda:
    image: docker.redpanda.com/redpandadata/redpanda:v23.3.16
    container_name: redpanda
    command:
      - redpanda start
      - --smp 1
      - --memory 1G
      - --reserve-memory 0M
      - --overprovisioned
      - --node-id 0
      - --check=false
      - --kafka-addr PLAIN://0.0.0.0:9092,OUTSIDE://0.0.0.0:19092
      - --advertise-kafka-addr PLAIN://redpanda:9092,OUTSIDE://localhost:19092
      - --pandaproxy-addr 0.0.0.0:8082
      - --advertise-pandaproxy-addr localhost:8082
    ports:
      - "19092:19092"
      - "9644:9644"
      - "8081:8081"
      - "8082:8082"
    volumes:
      - redpanda-data:/var/lib/redpanda/data

  dynamodb-local:
    image: amazon/dynamodb-local:2.4.0
    container_name: dynamodb-local
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath /data"
    ports:
      - "8000:8000"
    volumes:
      - dynamodb-data:/data
    working_dir: /home/dynamodblocal

  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.96.0
    container_name: otel-collector
    command: [ "--config=/etc/otel-collector-config.yaml" ]
    volumes:
      - ./otel-collector-config.yaml:/etc/otel-collector-config.yaml
    ports:
      - "4317:4317" # OTLP gRPC
      - "4318:4318" # OTLP HTTP
      - "8888:8888" # Prometheus metrics exposed by collector
      - "8889:8889" # Prometheus exporter metrics

  prometheus:
    image: prom/prometheus:v2.51.0
    container_name: prometheus
    volumes:
      - ./prometheus.yaml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:10.4.1
    container_name: grafana
    ports:
      - "3001:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-data:/var/lib/grafana
  # Setup Redpanda topics
  # redpanda-console:
  #   image: redpandadata/console:v2.4.5
  #   container_name: redpanda-console
  #   entrypoint: /bin/sh
  #   command: -c "echo \"Console started\" && sleep infinity"
  #   environment:
  #     - KAFKA_BROKERS=redpanda:9092
  #   depends_on:
  #     - redpanda
  #   ports:
  #     - "8080:8080" # Redpanda Console UI

volumes:
  redpanda-data:
  dynamodb-data:
  grafana-data:
